@inject NavigationManager Nav

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <img class="m-3" src="images/logoExcello.png" width="225" />

        <div class="p-0 container">
            <h1 class="tituloTop  h2 display-4" onclick="@GoMenu">@Title</h1>
        </div>
    </div>
    <div class=" text-center mt-5">
        <label class=" h3 text-dark fw-bold"> @Title2 </label>
    </div>
</div>
